<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
	<title>{% block title %}AGRO+{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-index.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css')}}"/>
   {% endblock %}

</head>

{% block content %}

{% block navbar %}

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top cshadow">

    <div class="navbar-nav mx-auto w-100 order-1 is-center">    
        <a class="navbar-brand" href="{{ url_for('index')}}">
          <img src="{{ url_for('static',filename='img/logon.png')}}" class="imglogo" style="width: 120px;">
        </a>
      </div>
  

    <div class="navbar-nav mx-auto w-100 order-2">
      <form class="form-inline">
        <div class="input-group ml-3">
          <input type="text" class="form-control cshadow btncshadow" placeholder="Buscar" style="border-color: #28A745; width: 360px; max-width: 200px;">
          <div class="input-group-append">
            <button class="btn btn-outline-success cshadow btncshadow mb-1" type="submit" style="font-size: 0px;"><i class="material-icons">
            search</i></button>
          </div>
          <button class="navbar-toggler ml-1 mb-1 float-right" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="font-size: 0px;">
            <i class="material-icons">menu</i>
          </button>
        </div>
      </form>
    </div>
 

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        {% if logado == 'comprador' %}
        <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item">
                  <div class="input-group mt-3 mb-3">
                <div class="input-group">
                  <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
                    CONTA
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="produtor.html">
                      <i class="material-icons">perm_identity</i>Meu Perfil</a>
                    <div class="dropdown-divider mt-3 mb-3"></div>
                    <a class="dropdown-item" href="meusprodutos.html">
                      <i class="material-icons" >apps</i>Minhas compras</a>
                      <a class="dropdown-item" href="{{ url_for('logout')}}">
                            Sair</a>
              
                  </div>
                </div>
              </div>    
                </li>
              </ul>
        {% elif (logado == 'produtor') %}
        <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item">
                  <div class="input-group mt-3 mb-3">
                <div class="input-group">
                  <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
                    CONTA
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="produtor.html">
                      <i class="material-icons">perm_identity</i>Meu Perfil</a>
                    <div class="dropdown-divider mt-3 mb-3"></div>
                    <a class="dropdown-item" href="meusprodutos.html">
                      <i class="material-icons" >apps</i>Meus Produtos</a>
                      <a class="dropdown-item" href="{{ url_for('logout')}}">
                            Sair</a>
              
                  </div>
                </div>
              </div>    
                </li>
              </ul>

        {% else %}
        <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link float-right" href="{{ url_for('login') }}">
                      <button class="btn btn-outline-success cshadow btncshadow">LOGIN</button>
                    </a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link float-right" href="{{ url_for('registro') }}">
                      <button class="btn btn-outline-success cshadow btncshadow">REGISTRAR</button>
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link float-right" href="{{ url_for('sobre')}}">
                      <button class="btn btn-outline-success cshadow btncshadow">SOBRE</button>
                    </a>
                </li>
                
            </ul>
        {% endif %}

         <!-- <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">Dropdown
              <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown_target">
            <a class="dropdown-item" href="#">PHP</a>
            <div class="dropdown-divider">
              
            </div>
            <a class="dropdown-item" href="#">CSS</a>
            <a class="dropdown-item" href="#">BSS</a>
            </div>    
          </li>

          <li class="nav-item">
              <a href="#" class="nav-link">Link</a>   
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">Link</a>   
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">Link</a>   
          </li>
      </ul> -->
    </div>
              
</nav>

{% endblock %}


{% endblock %}

{% if (logado == 'produtor' and ocultar != None) %}
<div class="float" >
<a href="{{ url_for('cadastra_produto')}}" class=" cshadow btncshadow" ><i class="fa fa-plus my-float"></i></a>

</div>
{% endif %}

<br><br>



{% if (footer) %}
<div class="footer l-box is-center footd" >
   <span>&copy; 2018 - AGRO+</span>
</div>
{% else %}

<div class="footer l-box is-center footd footp" >
    <span>&copy; 2018 - AGRO+</span>
 </div>
{% endif %}

</div>
</body>
</html>

