<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
	<title>{% block title %}AGRO+{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-index.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css')}}"/>
   {% endblock %}

</head>

{% block content %}

{% endblock %}



<br><br>



{% if (footer) %}
<div class="footer l-box is-center footd" >
   <span>&copy; 2018 - AGRO+</span>
</div>
{% else %}

<div class="footer l-box is-center footd footp" >
    <span>&copy; 2018 - AGRO+</span>
 </div>
{% endif %}

</div>
</body>
</html>

