{% extends "base.html" %}
<!--Inicio Head -->
{% block title %}Home - {{ super() }}{% endblock %}
{% block head %}
<!--Herda conteudo da head sem sobrescrer-->
{{ super() }}
	<script type="text/javascript">
		function goFocus(elementID){

		document.getElementById(elementID).focus();

	}
	</script>
<style>
.produto {
	text-decoration: none;
	color: #000000 !important;
 }
 .produto:hover {
	text-decoration: none;
	color: #000000;
 }
</style>
{% endblock %}



<!-- Inicio Conteudo -->
{% block content %}
<body onload="goFocus('search')">

<!-- Inicio nav - MENU -->
{% block navbar %}
{{ super() }}
{% endblock %}
<!-- Fim nav - MENU -->


{% with messages = get_flashed_messages() %}
{% if messages %}
   <div class="alert alert-success text-center" >
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </div>
{% endif %}
{% endwith %}

<div class="pure-g ml-3">
	<div class=" pure-u-1 pure-u-lg-1-5 mr-3">
		<div class="categoria ml-3">
			<h1 class="content-subhead ml-3">CATEGORIAS</h1>
			<div class="list-group">
				{% if (categorias) %}	
						{% for categoria in categorias %}
				
				<a href="{{url_for('index', categoria=categoria[0]) }}" class="list-group-item mb-1 cshadow">{{categoria[1]}}</a>
				{% endfor %}
				{% endif %}
			</div>
			
		</div>
	</div>
	<div class="pure-u-1 pure-u-lg-3-5 ml-3 mr-3">
		<h1 class="content-subhead ml-3">Produtos</h1>
    <div class="row">
  		<div class="card-group">
				
				{% if (produtos) %}
				{% for produto in produtos %}
					
        <!--produto[9].strftime('%d-%m-%Y %H:%M:%S')-->
        <div class="col-sm-4">
    		  <div class="card bg-default cshadow">
						
            <a href="{{url_for('produto', id_produto=produto[0])}}">
							
							<img class="card-img-top" src="static/upload/produtos/{{produto[2]}}" alt="Card image" style="width: 100%; height: 250px;">
							
						</a>
				
    		    <div class="card-body ">
    		      <h4 class="card-title cardh4 "><a  class= "produto" href="{{url_for('produto', id_produto=produto[0])}}">{{produto[1]}}</a></h4>
				  <p class="aprod card-text cardp">Categoria:<a class="linkprod" href="{{ url_for('index',categoria=produto[6] )}}">
					{{produto[7]}}</a></p> 
				 
				  <p class="aprod card-text cardp"><a class="linkprod" href="{{ url_for('perfil',produtor_id=produto[4] )}}">
					{{produto[5]}}</a></p>
				  
							<p class="text-success card-text cardp">R${{produto[3]}}</p>
              <form class="cardform">
                <div class="input-group mb-1 mt-1">
									<input type="number" class="form-control cardf" placeholder="0" min="0" maxlength="9" />
									  
                  <div class="input-group-append">
                    <button class="btn btn-primary cardb">Comprar</button>
                  </div>  
                </div>
              </form>
    		    </div>
    		  </div>
        </div>
				{% endfor %}
				{%else%}
				<div class="alert alert-success" role="alert">
					<h4 class="alert-heading">Nenhum produto encontrado!!!</h4>
					<p>Ei, infelizmente não temos nenhum produto cadastrado em nossa base, você participa de algum programa da
						agricultura familiar ou possui plantações sem Agrotóxicos? anuncie seus produtos na nossa plataforma, 
						para fazer o cadastro <a href="{{url_for('registro')}}">clique aqui</a>
					</p>
					<hr>
					
				</div>
			
				{% endif %}
       
        
  		</div>
    </div>
  
	</div>
	
</div>
<br>
<br>


{% endblock %}

<!-- Fim Conteudo -->